<!--Webpage for displaying the articles returned from NewsAPI-->
<!--https://flask.palletsprojects.com/en/2.2.x/tutorial/templates/-->
<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link rel="shortcut icon" href="/favicon.ico?">
        <link rel="stylesheet" href="articles.css">
        <!--To ensure the page will adapt size depending on screen size https://www.w3schools.com/css/css_rwd_viewport.asp -->
	      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>News Articles</h1>
        <a href="/sources">Return to sources</a>
        {% for article in articles %}
        <div class="article-style">
            <h2>{{ article.title }}</h2>
            <p>by {{ article.author }}</p>
            <p>{{ article.description }}</p>
            <p>Source: {{ article.source.name }}</p>
            <a href="{{ article.url }}" target="_blank">Read more</a>
      </div>
      {% endfor %}
    </body>
</html>