<!--Webpage for displaying the MySQL table containing sources and keywords and allowing the user to perform CRUD operations on it-->
<!DOCTYPE html>
<html>
    <head>
        <title>Sources</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="/favicon.ico?">
        <link rel="stylesheet" href="sources.css">
        <!--To ensure the page will adapt size depending on screen size https://www.w3schools.com/css/css_rwd_viewport.asp -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if 'logged_in' in session and session['logged_in'] %}
            <p>Welcome, {{ session['account_type'] }}</p>
            <p><a href="/logout">Logout</a></p>
        <h1>Sources and Keywords</h1>
        <div class="blurb" id="blurb1">
            The table below can be used to retreive news articles using NewsAPI based on the source provided and keywords.<br/>
            To add a new source just provide the news source id and the keyword you want your results to contain.<br/>
            Click on results to see a summary of the results returned by your search.<br/>
            If you want your keyword to be a phrase or a person's full name, simply add it in quotation marks e.g. "data science", "Tom Jones".<br/>
            If you wish to see a database table of past article results click <a href="/articles" target="_blank">here</a>.
        </div>
        <br/>
        <div><br/><button id="button-showAddSource" onclick="showAddSource()">Add News Source</button><br/><br/></div>
        <div>
            <table border="1" id="sourceTable">
                <tr>
                        <th>id</th>
                        <th>Source</th>
                        <th>Keyword</th>
                        {% if session['account_type'] == 'admin' %}
                        <th>Update</th>
                        <th>Delete</th>
                        {% endif %}
                        <th>View Article Results</th>
                </tr>  
            
            </table>
        <br/>
        <div class="blurb" id="blurb2">
            The table below shows some of the most popular source IDs you may wish to use.<br/>
            NewsAPI has over 80,000 to choose from so if an ID you're looking for isn't here, you can try find it from their website 
            <a href="https://newsapi.org/sources" target="_blank">here</a>.
        </div>
        <br/>
            <table border="1" id="sourceIDs">
                <tr>
                    <th>News</th>
                    <th>Sport</th>
                    <th>Entertainment</th>
                    <th>Technology</th>
                </tr>
                <tr>
                    <td>bbc-news</td>
                    <td>espn</td>
                    <td>entertainment-weekly</td>
                    <td>techcrunch</td>
                </tr>
              <tr>
                    <td>cnn</td>
                    <td>bbc-sport</td>
                    <td>mtv-news</td>
                    <td>techradar</td>
              </tr>
              <tr>
                    <td>the-irish-times</td>
                    <td>fox-sports</td>
                    <td>buzzfeed</td>
                    <td>the-next-web</td>
              </tr>
              <tr>
                    <td>rte</td>
                    <td>nfl-news</td>
                    <td>ign</td>
                    <td>wired</td>
              </tr>
              <tr>
                    <td>google-news</td>
                    <td>bleacher-report</td>
                    <td>mashable</td>
                    <td>recode</td>
              </tr>
              <tr>
                    <td>associated-press</td>
                    <td>talksport</td>
                    <td>polygon</td>
                    <td>engadget</td>
              </tr>
              <tr>
                    <td>nbc-news</td>
                    <td>four-four-two</td>
                    <td>reddit-r-all</td>
                    <td>ign</td>
              </tr>
              <tr>
                    <td>newsweek</td>
                    <td>the-sport-bible</td>
                    <td>the-lad-bible</td>
                    <td>ars-technica</td>
              </tr>
              <tr>
                    <td>reuters</td>
                    <td>nhl-news</td>
                    <td>mtv-news-uk</td>
                    <td>the-verge</td>
              </tr>
            </table>
          
        </div>
        <div>
            <form id="createForm" style="display:none">
                <h2><span id="createLabel">Create a Source</span></h2>
                Source <input type="text" name="source"><br/>
                Keyword <input type="text" name="keyword"><br/>
            
                <div class="buttons-sidebyside">
                    <button type="submit" id="button-doAddSource">Create</button>
                    <button type="button" onclick="location.href='/sources'">Return</button>
                </div>

            </form>
        </div>
        <div>
            <form id="updateForm" style="display:none">
                <h2><span id="updateLabel">Update this Source</span></h2>
                Source <input type="text" name="source"><br/>
                Keyword <input type="text" name="keyword"><br/>
        
                <div class="buttons-sidebyside">
                    <button type="submit" id="button-doUpdateSource">Update</button>
                    <button type="button" onclick="location.href='/sources'">Return</button>
                </div>

            </form>
        </div>
        {% else %}
            <p>You are not logged in. <a href="/login">Login</a></p>
        {% endif %}
    </body>
    <script>
        // Using fetch to populate table with MySQL database table content
        // https://dev.to/duhbhavesh/how-to-use-fetch-api-for-crud-operations-57a0
        fetch('/sourcesjson')
        .then(response => response.json())
        .then(data => {
            // Loop through the data and add a row for each item
            data.forEach(item => {
            let row = document.createElement('tr');
            row.innerHTML = `
            <td>${item.id}</td>
            <td>${item.source}</td>
            <td>${item.keyword}</td>
            {% if session['account_type'] == 'admin' %}
            <td><button class="update-button" data-id="${item.id}" onclick="showUpdateSource(this)">Update</button></td>
            <td><button class="delete-button" data-id="${item.id}" onclick="deleteSource(event)">Delete</button></td>
            {% endif %}
            <td class="center-button"><button class="results-button" data-id="${item.id}" onclick="showResults(this)">Results</button></td>`;
            document.querySelector('#sourceTable').appendChild(row);
            });
        });

        function showAddSource(){
            document.getElementById("createForm").style.display = "block"  
            document.getElementById("button-doAddSource").style.display = "block"
            document.getElementById("createLabel").style.display = "inline"
            document.getElementById("button-showAddSource").style.display = "none"
            document.getElementById("sourceTable").style.display = "none"  
            document.getElementById("sourceIDs").style.display = "none" 
            document.getElementById("blurb1").style.display = "none"
            document.getElementById("blurb2").style.display = "none"  
        }

        // Adding sources input by the user to the table
        var createForm = document.getElementById('createForm');
        createForm.addEventListener('submit', function(event) {
            // https://stackoverflow.com/a/56908493
            event.preventDefault();
            // Use the fetch API to send the form data to the server
            fetch('/sources', {
                method: 'POST',
                body: new FormData(createForm)
            })
            .then(response => response.text())
            .then(text => {
                console.log(text);
                location.reload();
            })
        });

        // Deleting source from the table
        function deleteSource(event) {
            event.preventDefault();
            var id = event.target.getAttribute('data-id');
            fetch('/sources/' + id, {
                method: 'DELETE'
            })
            .then(response => response.text())
            .then(text => {
                console.log(text);
                location.reload();
            })
        }

        // Updating source in table
        function getSourceFromRow(rowElement){
            var source ={}
            source.id  = rowElement.cells[0].firstChild.textContent
            source.source = rowElement.cells[1].firstChild.textContent
            source.keyword = rowElement.cells[2].firstChild.textContent
            return source
        }
        function populateFormWithSource(source){
       		var form = document.getElementById('updateForm')
       		form.querySelector('input[name="source"]').value= source.source
        	form.querySelector('input[name="keyword"]').value= source.keyword
        }
        function showUpdateSource(buttonElement){
            document.getElementById("updateForm").style.display = "block"           
            document.getElementById("button-doUpdateSource").style.display = "block"
            document.getElementById("updateLabel").style.display = "inline"
            document.getElementById("sourceTable").style.display = "none"
            document.getElementById("sourceIDs").style.display = "none" 
            document.getElementById("button-showAddSource").style.display = "none" 
            document.getElementById("blurb1").style.display = "none"
            document.getElementById("blurb2").style.display = "none"  
            rowElement= buttonElement.parentNode.parentNode
            source = getSourceFromRow(rowElement)
            populateFormWithSource(source)
            
            var updateForm = document.getElementById('updateForm');
            updateForm.addEventListener('submit', function(event) {
                id = source['id'];
                // https://stackoverflow.com/a/56908493
                event.preventDefault();
                // Use the fetch API to send the form data to the server
                fetch('/sources/' + id, {
                    method: 'PUT',
                    body: new FormData(updateForm)
                })
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    location.reload();
                })
            });
        }

        // Redirect to the article results
        function showResults(button) {
            // Get the id value from the data-id attribute of the button element
            const id = button.getAttribute('data-id');
            console.log(id)
            // Send a GET request to the Flask route with the id value as a query parameter
            fetch('/articles/' + id)
                .then(response => response.text())
                .then(html => {
                // Render the template with the results
                document.body.innerHTML = html;
                });
            }

    </script>
</html>